<div class="container">
<h1 class="text-success"> {{ vm.getName() }} </h1>
<br/>
<p class="text-justify">{{ vm.service.message }}</p>
<br/>
<p><a class="btn btn-lg btn-success" href="http://angularjs.org" role="button">Visit AngularJS (1.x)</a>
</p>
<p><a class="btn btn-lg btn-success" href="https://angular.io/" role="button">Visit AngularJS (2.x)</a>
</p>
<pre dir="ltr">HomeController: {{vm|json}}</pre>


<!--
    <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here ">
        <hr>
        <h1>Hello {{yourName}}!</h1>


        <ul>
            <li ng-repeat="item in [{id: 1, name:'Jonathan'},{id:2, name:'Samer'}] track by item.id">{{item.name}}</li>
        </ul>

    </div>
-->

</div>
